<div class="w-full pb-5 md:p-2 md:pt-5 account__nav md:w-auto md:mr-9">
  <account-nav>
    <ul class="hidden py-1 account-desktop-nav border-bottom border-top md:block min-w-[15rem]">
      {% for link in section.settings.menu.links %}
        <li class="flex items-center text-sm">
          <a href="{{ link.url }}" class="w-full p-3 hover:bg-gray-100 hover:rounded{% if link.active or link.url == routes.account_url and template.name == 'order' %} bg-gray-100 rounded{% endif %}">
            {% liquid
              if section.settings.show_icons
                if link.url == routes.account_url
                  render 'icon-shopping-bag', class: 'inline pr-2 h-6 w-auto text-gray-400'
                elsif link.url == routes.account_addresses_url
                  render 'icon-home', class: 'inline pr-2 h-6 w-auto text-gray-400'
                elsif link.url contains 'wishlist'
                  render 'icon-heart', class: 'inline pr-2 h-6 w-auto text-gray-400'
                endif
              endif
              echo link.title
            %}
          </a>
        </li>
      {% endfor %}
      {% if section.settings.menu.links == blank %}
        {% comment %}
        ===============
        setting some default links
        ===============
        {% endcomment %}
        <li class="flex items-center text-sm">
          <a href="{{ routes.account_url }}" class="w-full p-3 hover:bg-gray-100 hover:rounded{% if request.path == routes.account_url %} bg-gray-100 rounded{% endif %}">
            {% liquid
              if section.settings.show_icons
                render 'icon-shopping-bag', class: 'inline pr-2 h-6 w-auto text-gray-400'
              endif
            %}
            Order History
          </a>
        </li>
        <li class="flex items-center text-sm">
          <a href="{{ routes.account_addresses_url }}" class="w-full p-3 hover:bg-gray-100 hover:rounded{% if request.path == routes.account_addresses_url %} bg-gray-100 rounded{% endif %}">
            {% liquid
              if section.settings.show_icons
                render 'icon-home', class: 'inline pr-2 h-6 w-auto text-gray-400'
              endif
            %}
            Addresses
          </a>
        </li>
      {% endif %}
      {% hook 'customer-account-extra-nav-items-desktop' %}
      <li class="flex items-center p-3">
        <a href="{{ routes.account_logout_url }}" class="button dark">
          {{ 'customer.log_out' | t }}
        </a>
      </li>
    </ul>
  </account-nav>

  {% unless template.name == 'order' %}
    <div class="md:hidden">
      <account-nav>
        <label for="account-mobile-nav"></label>
        <select id="account-mobile-nav" class="w-full account-mobile-nav" >

          {% for link in section.settings.menu.links %}
            <option value="{{ link.url }}"{% if link.active %} selected{% endif %}>
              {{ link.title }}
            </option>
          {% endfor %}
          {% if section.settings.menu.links == blank %}
            <option value="{{ routes.account_url }}"{% if request.path == routes.account_url %} selected{% endif %}>
              Order History
            </option>
            <option value="{{ routes.account_addresses_url }}"{% if request.path == routes.account_addresses_url %} selected{% endif %}>
              Addresses
            </option>
          {% endif %}
          {% hook 'customer-account-extra-nav-items-mobile' %}
          <option value="{{ routes.account_logout_url }}">{{ 'customer.log_out' | t }}</option>

        </select>
      </account-nav>
    </div>
  {% else %}
    <a href="/account" class="md:hidden link">
      <span class="flex items-center">
        {% render 'icon-arrow-left', class: 'inline h-4 w-auto pr-2' %}
        Back to order history
      </span>
    </a>
  {% endunless %}
</div>


{% schema 'schema-customer-account-nav.js' %}
