<div class="account">
  <h1 class="text-2xl font-semibold leading-8 font-heading">
    Order {{ order.name }}
  </h1>

  <p class="text-gray-500">
    {{ order.created_at | date: "%B %e, %Y %I:%M%p" }}
  </p>

  {% unless order.fulfillment_status == 'unfulfilled' %}
    <p class="account-order__tracking-numbers flex flex-wrap gap-1">
      {% liquid
        assign tracking_urls = blank
        for item in order.line_items
          if tracking_urls contains item.fulfillment.tracking_number
            continue
          else
            capture tracking_urls
              echo tracking_urls
              echo '<a class="tracking-link button btn-link" target="_blank" href="' | append: item.fulfillment.tracking_url | append: '">' | append: item.fulfillment.tracking_number | append: '</a>'
            endcapture
          endif
        endfor

        if tracking_urls != blank
          echo 'Tracking #: '
          echo tracking_urls
        endif
      %}
    </p>
    {% style %}
      .tracking-link:not(:last-of-type):after {
        content: ',';
        color: initial;
      }
    {% endstyle %}
  {% endunless %}

  <table class="w-full pb-3 mt-8 table-auto responsive-table no-translate md:border">
    <thead class="md:border">
      <tr class="text-left">
        <th class="px-6 py-3 text-left bg-gray-50">{{ 'customer.order.product' | t }}</th>
        <th class="px-6 py-3 text-left bg-gray-50">{{ 'customer.order.sku' | t }}</th>
        <th class="px-6 py-3 text-left bg-gray-50">{{ 'customer.order.price' | t }}</th>
        <th class="px-6 py-3 text-left bg-gray-50">{{ 'customer.order.quantity' | t }}</th>
        <th class="px-6 py-3 text-left bg-gray-50">{{ 'customer.order.total' | t }}</th>
      </tr>
    </thead>
    <tbody class="text-gray-500">
      {% for item in order.line_items %}
        <tr class="border-t md:border-0">
          <td class="py-4 font-semibold text-black md:px-6" data-label="{{ 'customer.order.product' | t }}">
            {{ item.product.title }}
          </td>
          <td class="py-4 md:px-6" data-label="{{ 'customer.order.sku' | t }}">
            {{ item.sku }}
          </td>
          <td class="py-4 md:px-6" data-label="{{ 'customer.order.price' | t }}">
            {{ item.price | money }}
          </td>
          <td class="py-4 md:px-6" data-label="{{ 'customer.order.quantity' | t }}">
            {{ item.quantity }}
          </td>
          <td class="py-4 text-right md:px-6" data-label="{{ 'customer.order.total' | t }}">
            {{ item.final_line_price | money }}
          </td>
        </tr>
      {% endfor %}
    </tbody>
    <tfoot class="text-gray-500 border-t md:border-0">
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td class="pt-2 hide md:table-cell md:px-6">
          {{ 'customer.order.subtotal' | t }}
        </td>
        <td class="pt-2 text-right md:px-6" data-label="{{ 'customer.order.subtotal' | t }}">
          {{ order.line_items_subtotal_price | money }}
        </td>
      </tr>

      {%- if order.cart_level_discount_applications != blank -%}
      <tr>
        <td></td>
        <td></td>
        <td></td>
        {%- for discount_application in order.cart_level_discount_applications -%}
          <td class="pt-2 hide md:table-cell md:px-6">
            {{ 'customer.order.discount' | t }}
            <br>
            {{- discount_application.title -}}
          </td>
          <td class="pt-2 text-right md:px-6" data-label="{{ 'customer.order.discount' | t }}">
            {{ discount_application.total_allocated_amount | money }}
          </td>
        {%- endfor -%}
      </tr>
      {%- endif -%}

      {%- for shipping_method in order.shipping_methods -%}
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td class="pt-2 hide md:table-cell md:px-6">{{ 'customer.order.shipping' | t }}
            <br>{{ shipping_method.title }}
          </td>
          <td class="pt-2 text-right md:px-6" data-label="{{ 'customer.order.shipping' | t }}">{{ shipping_method.price | money }}</td>
        </tr>
      {%- endfor -%}

      <tr class="font-semibold text-black">
        <td></td>
        <td></td>
        <td></td>
        <td class="pt-2 hide pb-9 md:table-cell md:px-6">{{ 'customer.order.total' | t }}</td>
        <td class="pt-2 text-right pb-9 md:px-6" data-label="{{ 'customer.order.total' | t }}">
          {{ order.total_price | money }}
        </td>
      </tr>
    </tfoot>
  </table>

  <div class="grid grid-cols-1 mt-8 gap-theme-sm md:gap-theme-md md:grid-cols-2">
    <div class="space-y-2">
      <h2 class="text-2xl font-semibold leading-8 font-heading">{{ 'customer.order.billing_address' | t }}</h2>
      <ul class="space-y-2 billing-address">
        <li><span class="font-semibold">{{ 'customer.order.payment_status' | t }}</span>: {{ order.payment_status }}</li>
        <li class="text-gray-500">{{ order.billing_address.address1 }}</li>
        <li></li>
        <li class="text-gray-500">{{ order.billing_address.address2 }}</li>
        <li class="text-gray-500">{{ order.billing_address.city }}, {{ order.billing_address.province_code }} {{ order.billing_address.zip }}</li>
        <li class="text-gray-500">{{ order.billing_address.country }}</li>
      </ul>
    </div>

    <div class="space-y-2">
      <h2 class="text-2xl font-semibold leading-8 font-heading">{{ 'customer.order.shipping_address' | t }}</h2>
      <ul class="space-y-2 shipping-address">
        <li><span class="font-semibold">{{ 'customer.order.fulfillment_status' | t }}</span>: {{ order.fulfillment_status }}</li>
        <li class="font-semibold">{{ order.shipping_address.first_name }} {{ order.shipping_address.last_name }}</li>
        <li class="text-gray-500">{{ order.shipping_address.address1 }}</li>
        <li></li>
        <li class="text-gray-500">{{ order.shipping_address.address2 }}</li>
        <li class="text-gray-500">{{ order.shipping_address.city }}, {{ order.shipping_address.province_code }} {{ order.shipping_address.zip }}</li>
        <li class="text-gray-500">{{ order.shipping_address.country }}</li>
      </ul>
    </div>
  </div>
</div>

{% schema 'schema-customer-order.js' %}