<div id="form-register">
  {%- form 'create_customer', novalidate: 'novalidate', class: 'space-y-6' -%}
    {%- if form.errors -%}
      <h2 class="font-heading form__message" tabindex="-1" autofocus>
        {% render 'icon-error', class: 'h-4 inline' %}
        {{ 'templates.contact.form.error_heading' | t }}
      </h2>
      <ul>
        {%- for field in form.errors -%}
          <li>
            {%- if field == 'form' -%}
              {{ form.errors.messages[field] }}
            {%- else -%}
              <a href="#RegisterForm-{{ field }}">
                {{ form.errors.translated_fields[field] | capitalize }}
                {{ form.errors.messages[field] }}
              </a>
            {%- endif -%}
          </li>
        {%- endfor -%}
      </ul>
    {%- endif -%}
    <div class="grid grid-cols-1 gap-theme-sm md:gap-theme-md md:grid-cols-2">
      <div class="field">
        <label for="RegisterForm-FirstName">
          {{ 'customer.register.first_name' | t }}
        </label>
        <input
          type="text"
          name="customer[first_name]"
          id="RegisterForm-FirstName"
          {% if form.first_name %}value="{{ form.first_name }}"{% endif %}
          autocomplete="given-name"
          placeholder="{{ 'customer.register.first_name' | t }}"
        >
      </div>
      <div class="field">
        <label for="RegisterForm-LastName">
          {{ 'customer.register.last_name' | t }}
        </label>
        <input
          type="text"
          name="customer[last_name]"
          id="RegisterForm-LastName"
          {% if form.last_name %}value="{{ form.last_name }}"{% endif %}
          autocomplete="family-name"
          placeholder="{{ 'customer.register.last_name' | t }}"
        >
      </div>
    </div>

    <div class="field">
      <label for="RegisterForm-email">
        {{ 'customer.register.email' | t }}
      </label>
      <input
        type="email"
        name="customer[email]"
        id="RegisterForm-email"
        {% if form.email %} value="{{ form.email }}"{% endif %}
        spellcheck="false"
        autocapitalize="off"
        autocomplete="email"
        aria-required="true"
        {% if form.errors contains 'email' %}
          aria-invalid="true"
          aria-describedby="RegisterForm-email-error"
        {% endif %}
        placeholder="{{ 'customer.register.email' | t }}"
      >
    </div>
    {%- if form.errors contains 'email' -%}
      <span id="RegisterForm-email-error" class="form__message">
        {% render 'icon-error', class: 'h-4 inline' %}
        {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.
      </span>
    {%- endif -%}
    <div class="field">
      <label for="RegisterForm-password">
        {{ 'customer.register.password' | t }}
      </label>
      <input
        type="password"
        name="customer[password]"
        id="RegisterForm-password"
        aria-required="true"
        {% if form.errors contains 'password' %}
          aria-invalid="true"
          aria-describedby="RegisterForm-password-error"
        {% endif %}
        placeholder="{{ 'customer.register.password' | t }}"
      >
    </div>
    {%- if form.errors contains 'password' -%}
      <span id="RegisterForm-password-error" class="form__message">
        {% render 'icon-error', class: 'h-4 inline' %}
        {{ form.errors.translated_fields['password'] | capitalize }} {{ form.errors.messages['password'] }}.
      </span>
    {%- endif -%}
    <button class="w-full button primary">
      {{ 'customer.register.submit' | t }}
    </button>

    <p>Returning Customer?
      <a href="{{ routes.account_login_url }}" class="link">
        {{ 'customer.login_page.sign_in' | t }}
      </a>
    </p>

    {% if settings.recaptcha_disclaimer %}
      {{ 'shopify.online_store.spam_detection.disclaimer_html' | t }}
    {% endif %}
  {%- endform -%}
</div>