<h1 class="text-4xl font-heading font-semibold leading-10">
  {{ 'customer.activate_account.title' | t }}
</h1>
<p>
  {{ 'customer.activate_account.subtext' | t }}
</p>
{%- form 'activate_customer_password', class: 'space-y-6' -%}
  {%- if form.errors -%}
    <h2 class="font-heading form__message" tabindex="-1" autofocus>
      {% render 'icon-error', class: 'h-4 inline' %}
      {{ 'templates.contact.form.error_heading' | t }}
    </h2>
    <ul>
      {%- for field in form.errors -%}
        <li>
          {%- if field == 'form' -%}
            {{ form.errors.messages[field] }}
          {%- else -%}
            <a href="#{{ field }}">
              {{ form.errors.translated_fields[field] | capitalize }}
              {{ form.errors.messages[field] }}
            </a>
          {%- endif-%}
        </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

  <div class="field">
    <label for="password">
      {{ 'customer.activate_account.password' | t }}
    </label>
    <input
      type="password"
      name="customer[password]"
      id="password"
      autocomplete="new-password"
      {% if form.errors contains 'password' %}
        aria-invalid="true"
        aria-describedby="password-error"
      {% endif %}
    >
    {%- if form.errors contains 'password' -%}
      <small id="password-error" class="form__message">
        {% render 'icon-error', class: 'h-4 inline' %}
        {{ form.errors.translated_fields['password'] | capitalize }} {{ form.errors.messages['password'] }}
      </small>
    {%- endif -%}
  </div>

  <div class="field">
    <label for="password_confirmation">
      {{ 'customer.activate_account.password_confirm' | t }}
    </label>
    <input
      type="password"
      name="customer[password_confirmation]"
      id="password_confirmation"
      autocomplete="new-password"
      {% if form.errors contains 'password' %}
        aria-invalid="true"
        aria-describedby="password_confirmation-error"
      {% endif %}
    >
    {%- if form.errors contains 'password_confirmation' -%}
      <small id="password_confirmation-error" class="form__message">
        {% render 'icon-error', class: 'h-4 inline' %}
        {{ form.errors.translated_fields['password_confirmation'] | capitalize }} {{ form.errors.messages['password_confirmation'] }}
      </small>
    {%- endif -%}
  </div>

  <button class="w-full button primary">
    {{ 'customer.activate_account.submit' | t }}
  </button>
  <button name="decline" class="link">
    {{ 'customer.activate_account.cancel' | t }}
  </button>
{%- endform -%}