<modal-dialog
  id="AddressNewForm"
  class="box-border fixed top-0 left-0 hidden w-full h-full mx-auto my-0 overflow-auto opacity-0 -z-10 modal-dialog bg-modal_overlay"
  data-modal="add-address"
  data-address-form--new
  >
  <div class="w-full p-5 bg-white wrap modal-dialog__modal-content absolute-center md:w-1/2">
    <button id="ModalClose-AddressNewForm" type="button" class="absolute modal__close-button link link--text focus-inset right-5" aria-label="{{ 'accessibility.close' | t }}">
      {% render 'icon-close', class: 'h-4 text-gray-300' %}
    </button>

    <address-form role="dialog">
    {% form 'customer_address', customer.new_address %}

      <h2 class="pb-5 font-heading">{{ 'customer.addresses.add_new' | t }}</h2>

      <div class="grid grid-cols-1gap-theme-sm md:gap-theme-md md:grid-cols-2">
        <div>
          <label for="AddressFirstName_{{ form.id }}" class="sr-only">{{ 'customer.addresses.first_name' | t }}</label>
          <input
            placeholder="{{ 'customer.addresses.first_name' | t }}"
            id="AddressFirstName_{{ form.id }}"
            type="text"
            class="w-full"
            name="address[first_name]"
            value="{{ form.first_name }}"
          />
        </div>
        <div>
          <label for="AddressLastName_{{ form.id }}" class="sr-only">{{ 'customer.addresses.last_name' | t }}</label>
          <input
            placeholder="{{ 'customer.addresses.last_name' | t }}"
            id="AddressLastName_{{ form.id }}"
            type="text"
            class="w-full"
            name="address[last_name]"
            value="{{ form.last_name }}"
          />
        </div>

        <div class="md:col-span-2">
          <label for="AddressCompany_{{ form.id }}" class="sr-only">{{ 'customer.addresses.company' | t }}</label>
          <input
            placeholder="{{ 'customer.addresses.company' | t }}"
            id="AddressCompany_{{ form.id }}"
            type="text"
            class="w-full"
            name="address[company]"
            value="{{ form.company }}"
          />
        </div>
        <div>
          <label for="AddressAddress1_{{ form.id }}" class="sr-only">{{ 'customer.addresses.address1' | t }}</label>
          <input
            placeholder="{{ 'customer.addresses.address1' | t }}"
            id="AddressAddress1_{{ form.id }}"
            type="text"
            class="w-full"
            name="address[address1]"
            value="{{ form.address1 }}"
          />
        </div>
        <div>
          <label for="AddressAddress2_{{ form.id }}" class="sr-only">{{ 'customer.addresses.address2' | t }}</label>
          <input
            placeholder="{{ 'customer.addresses.address2' | t }}"
            id="AddressAddress2_{{ form.id }}"
            type="text"
            class="w-full"
            name="address[address2]"
            value="{{ form.address2 }}"
          />
        </div>
        <div>
          <label for="AddressCity_{{ form.id }}" class="sr-only">{{ 'customer.addresses.city' | t }}</label>
          <input
            placeholder="{{ 'customer.addresses.city' | t }}"
            id="AddressCity_{{ form.id }}"
            type="text"
            class="w-full"
            name="address[city]"
            value="{{ form.city }}">
        </div>

        <div>
          <label for="AddressZip_{{ form.id }}" class="sr-only">{{ 'customer.addresses.zip' | t }}</label>
          <input class="w-full" placeholder="{{ 'customer.addresses.zip' | t }}" type="text" id="AddressZip_{{ form.id }}" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters">
        </div>

        <div class="country-container">
          <label for="AddressCountry_{{ form.id }}" class="sr-only">Country</label>
          <select id="AddressCountry_{{ form.id }}" country-select class="w-full h-full address-country-option" data-form-id="{{ form.id }}" name="address[country]" data-default="{{ form.country }}">{{ country_option_tags }}</select>
          <div class="Caret"> </div>
        </div>

        <div id="AddressProvinceContainer_{{form.id}}" province-wrapper style="display:none">
          <label for="AddressProvince_{{ form.id }}" class="sr-only">Province</label>
          <select province-select class="w-full h-full address-province-option" id="AddressProvince_{{ form.id }}" name="address[province]" data-default="{{ form.province }}"></select>
          <div class="Caret state-caret"> </div>
        </div>

        <div class="md:col-span-2">
          <label for="AddressPhone_{{ form.id }}" class="sr-only">{{ 'customer.addresses.phone' | t }}</label>
          <input class="w-full" placeholder="{{ 'customer.addresses.phone' | t }}" type="text" id="AddressPhone_{{ form.id }}" name="address[phone]" value="{{ form.phone }}">
        </div>

        <div class="text-left md:col-span-2 default-checkbox">
          <label class="checkbox-container">
            {{ form.set_as_default_checkbox }}
            <span class="checkmark"></span>
            </label>
          <label class="checkbox-text" for="address_default_address_new">{{ 'customer.addresses.set_default' | t }}</label>
        </div>

        <div class="submit-container pt05 al row">
          <input type="submit" class="button dark" value="{{ 'customer.addresses.add' | t }}">
          <button id="ModalClose-AddressNewForm" type="button" class="modal__close-button link link--text small focus-inset" aria-label="{{ 'accessibility.close' | t }}">
            {{ 'customer.addresses.cancel' | t }}
          </button>
        </div>
      </div>
    {% endform %}
    </address-form>
  </div>
</modal-dialog>
